* {
  font-family: PT-Sans, sans-serif;
}

nav {
  background-color: #0a0814;
  color: white;
  display: flex;
  height: 45px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav a {
  font: 15px;
  padding: 12px 24px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  transition: 200ms linear;
}

.link-wrapper {
  display: flex;
}

.home-section img {
  width: 100%;
}

.home-capt {
  position: absolute;
  right: 0;
  left: 0;
  top: 90px;
  color: white;
  text-align: center;
}

.title {
  color: #0a0814;
  font-size: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.tm-red-text {
  color: #05295e;
}

.tm-info-label {
  font-weight: bold;
  display: inline-block;
  width: 90px;
}
.tm-progress {
  background: #fff;
  border-radius: 2px;
  height: 4px;
}
.progress-bar-danger {
  background: #05295e;
}

.tm-progress-label {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
}
.progress-percent-small {
  display: block;
  float: right;
  padding-right: 80px;
}

.tm-about {
  background: url("WEB Coding.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 100px;
  text-align: justify;
}

.about-title, .about-title2 {
  color: #a39d9d;
}

#textAbout {
  color: #c4bcbc;
}

.tm-padding-top-bottom-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tm-education-h3 {
  color: #05295e;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
.education-wrapper {
  border: 1px solid #666;
  border-radius: 2px;
  text-align: center;
  padding: 80px 40px;
}

.tm-contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  background: url("Wallpapers.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.form-control {
  background: white;
  border: 2px solid #c4bcbc;
  border-radius: 2px;
  margin-bottom: 10px;
  -webkit-transition: all 600ms ease-in;
          transition: all 600ms ease-in;
}

.form-control:focus, .form-control:hover {
  background: black;
  color: white;
}

input { 
height: 50px; 
}

.tm-contact p { 
padding-top: 40px;
padding-bottom: 40px; 
}

.contact-title {
  color: #dfdee4;
  font-size: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}